[submodule "makerdao/dss"]
	path = makerdao/dss
	url = git@github.com:zandent/dss.git
	branch = master
[submodule "makerdao/osm"]
	path = makerdao/osm
	url = git@github.com:zandent/osm.git
	branch = master
[submodule "makerdao/median"]
	path = makerdao/median
	url = git@github.com:zandent/median.git
[submodule "compound/compound-protocol"]
	path = compound/compound-protocol
	url = git@github.com:zandent/compound-protocol.git
	branch = master
[submodule "augur/augur"]
	path = augur/augur
	url = git@github.com:zandent/augur.git
	branch = master
